[Unit]
Description=Druid Overlord Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/${druid_version}/bin
ExecStart=sh -c "${cmd_druid}"

[Install]
WantedBy=multi-user.target