[Unit]
Description=Druid Overlord Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/druid/bin
ExecStart=sh -c "${cmd_druid}"

[Install]
WantedBy=multi-user.target