-server
-Xms1g
-Xmx1g
-XX:+UseG1GC
-XX:MaxDirectMemorySize=1g
-XX:+ExitOnOutOfMemoryError
-XX:+UseStringDeduplication
-XX:ParallelGCThreads=5
-XX:ConcGCThreads=2
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Djute.maxbuffer=15728640
-Daws.region=${region}