profile = "default"
region = "us-east-2"

druid_config = {
  version = "31.0.1"
  cluster_name = "prod"
  internal_password = "123"
  admin_password = "123"

  metadata_config = {
    type = "postgres"
    host = "localhost"
    user = "druid"
    password = "druid"
    db = "druid"
    port = 5432
  }

  overlord_config = {
    count = 1,
    instance = "m7g.large",
  }
}

zk_config = {
  count = 3,
  instance = "t4g.medium",
  version = "3.8.4"
}