profile = "default"
region = "us-east-2"

druid_version = "31.0.1"
cluster_name = "prod"
internal_password = "123"
admin_password = "123"

db_type = "postgres"
db_host = "localhost"
db_port = 5432
db_user = "druid"
db_password = "druid"
db_db = "druid"

base_instance_type = "t2.nano"

zk_data = {
  count = 3,
  instance = "t3a.medium",
  version = "3.8.4"
}