[Unit]
Description=Druid Historical Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/druid/bin
ExecStart=sh -c ". ../../get_masters_zk.sh && ${cmd_druid}"

[Install]
WantedBy=multi-user.target